{% extends 'news/base.html' %}
{% block content %}
<h1>About NewViewsNews</h1>
<h3><p>In this day and age, close-mindedness and echochambers prevent others from being exposed to people who offer varying perspectives. This has caused a lot of conflict within our society. Our solution: NewViewsNews.</p> <p>NewViewsNews is a crowdsourcing news site that allows you to view the news and opinions of people who have opposing political views. To get started, you simply make an account and specify your position on the political compass. After that, you can write your own posts and view other posts! Our algorithms will display posts from individuals on the opposite side of the compass on your home page.</p> <p>NewViewsNews is paving the way for an open minded and more understanding community. <a href="{% url 'login' %}">Join us today!</a></p></h3>
{% endblock content %}
