{% extends "news/base.html" %}
{% block content %}
      <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'home' %}">Back</a>
      <h1>{{ article.headline }}</h1>
      <figure class="figure">
        <img src="{{ object.header.url }}" class="float-center figure-img img-fluid rounded" alt="Article Header">
        <figcaption class="figure-caption">{{ object.header_caption }}</figcaption>
      </figure>

        <div class="media-body">
          <div class="article-metadata pb-2">
            <img class="rounded-circle article-img" src="{{ object.author.profile.profile_pic.url}}" alt="Profile Picture">
            <a class="mr-2" href="{% url 'user-articles' object.author.username %}">{{ object.author.get_full_name }}</a>
            <small class="text-muted">@{{ object.author }} · {{ object.date_published }}</small>

            {% if object.author == user %}
              <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'article-update' object.id %}">Edit article</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'article-delete' object.id %}">Delete article</a>
              </div>
            {% endif %}
            <form action="{% url 'like_article' article.pk %}" method="post">
              {% csrf_token %}
              <button type="submit" name="article_id" value="{{ article.id }}" class="btn btn-primary btn-small">Like</button> - {{ total_likes }}
            </form>
          </div>
          <p class="article-content font-weight-light">{{ article.content|safe }}</p>

        </div>
  </article>
{% endblock content %}
