{% extends "news/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
                <small class="text-muted ml-2">
                    <a href="">Forgot Password?</a>
                </small>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>
    </div>

    <div class="content-section">
        <a href="{% url 'social:begin' 'google-oauth2' %}" title="google" class="border border-dark p-3 btn btn-block btn-lg mx-auto text-white" style="background-color: rgb(222,82,70)">
          <img src="https://cdn2.iconfinder.com/data/icons/font-awesome/1792/google-48.png" >
          Sign in with Google
        </a>
        <a href="{% url 'social:begin' 'github' %}" title="github" class="border border-dark p-3 btn btn-block btn-lg mx-auto">
            <img src="https://cdn4.iconfinder.com/data/icons/miu-social/60/github-social-media-48.png" >
            Sign in with Github
        </a>
        <a href="{% url 'social:begin' 'facebook' %}" title="fb" class="border border-dark p-3 btn btn-block btn-lg mx-auto text-white" style="background-color: rgb(59,89,152);">
            <img src="https://cdn4.iconfinder.com/data/icons/miu-flat-social/60/facebook-48.png" >
            Sign in with Facebook
        </a>
          
    </div>

{% endblock content %}
