{% extends "news/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
  <div class="media">
    <img class="rounded-circle account-img" src="{{ user.profile.profile_pic.url }}">
    <div class="media-body">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">{{ user.first_name }} {{ user.last_name }}</p>
      <p class="text-secondary">{{ user.email }}</p>
    </div>
  </div>
  <hr>
  <h2>Social Settings</h2>

  <h3>GitHub</h3>
  {% if github_login %}
    <p>Connected as <a href="https://github.com/{{ github_login.extra_data.login }}/" target="_blank">{{ github_login.extra_data.login }}</a></p>
    {% if can_disconnect %}
      <form method="post" action="{% url 'social:disconnect' 'github' %}">
        {% csrf_token %}
        <button type="submit"  class="btn btn-outline-info">Disconnect from GitHub</button>
      </form>
    {% else %}
      <button type="button" disabled>Disconnect from GitHub</button>
      <p style="color: red">You must <a href="{% url 'password' %}">define a password</a> for your account before disconnecting from Github.</p>
    {% endif %}
  {% else %}
    <a href="{% url 'social:begin' 'github' %}">Connect to GitHub</a>
  {% endif %}

  <h3>Google</h3>
  {% if google_login %}
    <p>Connected as <a href="https://google.com/{{ google_login.extra_data.access_token.screen_name }}/" target="_blank">@{{ google_login.extra_data.access_token.screen_name }}</a></p>
    {% if can_disconnect %}
      <form method="post" action="{% url 'social:disconnect' 'google-oauth2' %}">
        {% csrf_token %}
        <button type="submit"  class="btn btn-outline-info">Disconnect from Google</button>
      </form>
    {% else %}
      <button type="button" disabled>Disconnect from Google</button>
      <p style="color: red">You must <a href="{% url 'password' %}">define a password</a> for your account before disconnecting from Google.</p>
    {% endif %}
  {% else %}
    <a href="{% url 'social:begin' 'google-oauth2' %}">Connect to Google</a>
  {% endif %}

  <h3>Facebook</h3>
  {% if facebook_login %}
    <p>Connected as <a href="https://facebook.com/{{ facebook_login.extra_data.id }}/" target="_blank">{{ facebook_login.extra_data.id }}</a></p>
    {% if can_disconnect %}
      <form method="post" action="{% url 'social:disconnect' 'facebook' %}">
        {% csrf_token %}
        <button type="submit"  class="btn btn-outline-info">Disconnect from Facebook</button>
      </form>
    {% else %}
      <button type="button" disabled>Disconnect from Facebook</button>
      <p style="color: red">You must <a href="{% url 'password' %}">define a password</a> for your account before disconnecting from Facebook.</p>
    {% endif %}
  {% else %}
    <a href="{% url 'social:begin' 'facebook' %}">Connect to Facebook</a>
  {% endif %}

  <hr>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4"> Your profile </legend>
      {{ userForm|crispy}}
      {{ profileForm|crispy }}
    </fieldset>
    <div class="form-group">
      <button type="submit" class="btn btn-outline-info">Update</button>
    </div>
  </form>
  <hr>
  <form method="post">
    {% csrf_token %}
    <legend class="border-bottom mb-4"> Update your password </legend>
    {{ passwordForm|crispy }}
    <button type="submit" class="btn btn-outline-info">Save changes</button>
  </form>
  <hr>
  <canvas class="float-center mx-auto" id="compass" width="500" height="500" style="border:1px solid #000000;">
  Your browser does not support the HTML canvas tag.
  </canvas>

  <script>
  var c = document.getElementById("compass");
  var ctx = c.getContext("2d");

  ctx.fillStyle = "#ff7575";
  ctx.fillRect(0,0,250,250)

  ctx.fillStyle = "#42abff";
  ctx.fillRect(250,0,250,250)

  ctx.fillStyle = "#9aec98";
  ctx.fillRect(0,250,250,250)

  ctx.fillStyle = "#bf9aea";
  ctx.fillRect(250,250,250,250)

  ctx.lineWidth = 2.5;
  ctx.moveTo(250,0);
  ctx.lineTo(250,500);
  ctx.stroke();
  ctx.moveTo(0,250);
  ctx.lineTo(500,250);
  ctx.stroke();

  ctx.beginPath();
  ctx.arc({{ valueX }}, {{ valueY }}, 5, 0, 2 * Math.PI);
  ctx.stroke();

  ctx.fillStyle = "#000";

  ctx.fill();

  ctx.font = "16px Arial";
  ctx.fillText("You are here", {{ valueX }}+15, {{ valueY }}-15);

  </script>

  <hr>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4"> Retake the political compass test at <a href="https://spekr.org/" target="_blank">spekr.org</a></legend>
      {{ valuesForm|crispy}}
    </fieldset>
    <div class="form-group">
      <button type="submit" class="btn btn-outline-info">Update</button>
    </div>
  </form>
  <hr>
</div>
{% endblock content %}
